<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="iscomString" connectionString="data source=GORDON-VAIO\SQL2005_CI;initial catalog=TestDB;persist security info=True;user id=iscom;password=7o598966" providerName="System.Data.SqlClient"/>-->
    <add name="iscomString" connectionString="data source=192.168.1.43\SQL2008_CI;initial catalog=ExpertSystemDB;persist security info=True;user id=iscom;password=7o598966" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
